html {
  background-color: #FEFEFE;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 3em;
  padding-bottom: 30px;
  padding-top: 30px;
}

#results {
  text-align: center;
  font-family: sans-serif;
  font-size: 1.3em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.disclaimer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#map {
  text-align: center;
  height: 600px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}